:root {
  --ifm-color-primary: #116491;
  --ifm-color-primary-dark: #0f5a83;
  --ifm-color-primary-darker: #0e557b;
  --ifm-color-primary-darkest: #0c4666;
  --ifm-color-primary-light: #136e9f;
  --ifm-color-primary-lighter: #1473a7;
  --ifm-color-primary-lightest: #157db5;
}

[data-theme='dark'] {
  --ifm-color-primary: #1a9de4;
  --ifm-color-primary-dark: #1892d4;
  --ifm-color-primary-darker: #178dcd;
  --ifm-color-primary-darkest: #1789c6;
  --ifm-color-primary-light: #30a7e7;
  --ifm-color-primary-lighter: #3bace9;
  --ifm-color-primary-lightest: #5ebaed;
}

@media screen and (min-width: 996px) {
  .row.is-multiline .col {
    margin-top: var(--ifm-spacing-horizontal) !important;
    margin-bottom: var(--ifm-spacing-horizontal) !important;
  }
}

@media screen and (max-width: 996px) {
  .row .col {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}
a.card {
  text-decoration: none !important;
  color: var(--ifm-color-content);
  box-shadow: none;
  border: 1px solid #333;
  display: flex;
  /* background-color: var(--ifm-background-color); */
}
a.card .card__body {
  flex: 1;
  flex-grow: 1;
}
a.card:hover {
  transition: all 0.2s ease;
  border: 1px solid var(--ifm-color-primary);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.5), 0 0 0 1px var(--ifm-color-primary) !important;
}
